.container{
    margin-bottom: 77px;
}
.nav-banner{
    background-color: #F0FFF0;
}
#logo{
    position: absolute;
    width: 118.07px;
    height: 33px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24.8571px;
    line-height: 29px;
    color: #56548C;
}
#sing-in{
    background-color: #21B573;
    border-radius: 33px;
}
#sing-in a{
    color: white;
}
.nav-item{
    padding: 10px;
}
.banner-texts{
    padding: 15px;
}
.banner-texts small{
    color: tomato;
}
.banner-texts p{
    margin: 33px 0px;
}
#bnr-header{
    margin: 15px 0px;
}
.banner-texts span{
    color: #21B573;
}
#bnr-img{
    padding-right: 87px;
}
.btn{
    background-color: #21B573;
    border-radius: 33px;
    padding: 13px;
}

